[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
    \.git
  | \.venv
  | venv
  | env
  | migrations
  | __pycache__
  | build
  | dist
  | node_modules
  | frontend
)/
'''

[tool.isort]
profile = "black"
line_length = 100
known_first_party = ["agenda", "marketplace", "notifications", "config"]
skip = ["migrations", "venv", ".venv", "__pycache__", "node_modules", "frontend"]

[tool.flake8]
max-line-length = 100
extend-ignore = ["E203", "W503", "E501"]
exclude = [
    ".git",
    "__pycache__",
    "venv",
    ".venv",
    "env",
    "migrations",
    "build",
    "dist",
    "node_modules",
    "frontend"
]
per-file-ignores = [
    "*/tests/*.py:E501",
    "*/tests.py:E501"
]
